In [11]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])

ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [4]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [5]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [6]:
ranger = range(15)

In [7]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [8]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [9]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [12]:
dframe = DataFrame(randn(25).reshape(5,5),index=['A','B','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  0.847376  1.501425 -1.763767  0.394321 -0.233774
B -2.372153  0.111424  0.041674  1.478901  0.933608
D  1.294261 -0.637421 -1.276617  0.605649  0.819089
E  0.519105 -1.998150 -0.103990 -0.157340 -0.598053
F -0.895702  0.567519 -0.580411  0.883034 -0.248119

In [13]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

dframe2

       col1      col2      col3      col4      col5
A  0.847376  1.501425 -1.763767  0.394321 -0.233774
B -2.372153  0.111424  0.041674  1.478901  0.933608
C       NaN       NaN       NaN       NaN       NaN
D  1.294261 -0.637421 -1.276617  0.605649  0.819089
E  0.519105 -1.998150 -0.103990 -0.157340 -0.598053
F -0.895702  0.567519 -0.580411  0.883034 -0.248119

In [14]:
new_cols = ['col1','col2','col3','col4','col5','col6']

In [15]:
dframe2.reindex(columns = new_cols)

       col1      col2      col3      col4      col5  col6
A  0.847376  1.501425 -1.763767  0.394321 -0.233774   NaN
B -2.372153  0.111424  0.041674  1.478901  0.933608   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.294261 -0.637421 -1.276617  0.605649  0.819089   NaN
E  0.519105 -1.998150 -0.103990 -0.157340 -0.598053   NaN
F -0.895702  0.567519 -0.580411  0.883034 -0.248119   NaN

In [16]:
dframe

       col1      col2      col3      col4      col5
A  0.847376  1.501425 -1.763767  0.394321 -0.233774
B -2.372153  0.111424  0.041674  1.478901  0.933608
D  1.294261 -0.637421 -1.276617  0.605649  0.819089
E  0.519105 -1.998150 -0.103990 -0.157340 -0.598053
F -0.895702  0.567519 -0.580411  0.883034 -0.248119

In [17]:
dframe.ix[['A','B','C','D','E','F'],new_cols]

       col1      col2      col3      col4      col5  col6
A  0.847376  1.501425 -1.763767  0.394321 -0.233774   NaN
B -2.372153  0.111424  0.041674  1.478901  0.933608   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.294261 -0.637421 -1.276617  0.605649  0.819089   NaN
E  0.519105 -1.998150 -0.103990 -0.157340 -0.598053   NaN
F -0.895702  0.567519 -0.580411  0.883034 -0.248119   NaN

In [18]:
dframe

       col1      col2      col3      col4      col5
A  0.847376  1.501425 -1.763767  0.394321 -0.233774
B -2.372153  0.111424  0.041674  1.478901  0.933608
D  1.294261 -0.637421 -1.276617  0.605649  0.819089
E  0.519105 -1.998150 -0.103990 -0.157340 -0.598053
F -0.895702  0.567519 -0.580411  0.883034 -0.248119